*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}
.left {
	float:left;
}

.right {
	float: right;
}

main{
	padding: 150px 0 100px 0;
}

hr{
	margin: 10px;
}
.header {
	position: relative;
}
/*-------------------------Header_Menu------------*/
	nav.top_menu {
			display: block;
			height: 95px;
			background: #203E5A;
			position: fixed;
			z-index: 100;
			left: 0;
			right: 0;
			top: 0;
			font-family: "RobotoBold";
			font-size: 12.5px;
			letter-spacing: 2px;
			font-weight: 500;
		}
			nav.top_menu i {
		font-size: 25px;
		display: none;
	}
			nav.min_menu {
				display: none;
				background: #203E5A;
				position: fixed;
				z-index: 100;
				left: 0;
				right: 0;
				top: 0;
				font-family: "RobotoBold";
				font-size: 12.5px;
				letter-spacing: 2px;
				font-weight: 500;
				}

			.left_menu, .right_menu	{
				display: inline-block;
				width: 40%;
				margin-top: 40px;
				
			}
			
			.left_menu {
				text-align: right;
			}
		
			.right_menu {
				text-align: left;
				position: relative;
			}
			
				.left_menu a {
					margin-right: 25px;
				} 
				.right_menu a {
					margin-left: 25px;
				}

				.internet_shop {
   					background: #d13931;
					height: 45px;
					position: absolute;
					border-radius: 30px;
					right: 15%;
					padding: 3px 10px 3px 3px;
					top: 80%;
					}
					 .internet_shop a{
					margin: 0;
					font-size: 14px;
				}
					.internet_shop a:hover {
				color: #203E5A;
				}
						.shopping_cart{
							background: #203e5a;
							width: 40px;
							height: 40px;
							border-radius: 20px;					 
							padding: 10px 0 0 5px;					  	
							display: inline-block;
							margin-right: 15px;
						}
							
				
			.logo_bg	 {
				width: 190px;
				height: 160px;
				background: #D13931;
				border-radius: 0 0 25px 25px;
				text-align: center;
				position: absolute;
				left: 50%;
				margin-left: -95px;
			}	
				.top_menu .logo_bg img {
					position: relative;
					top: 20px;
				}
				.top_menu .logo_bg a {
					margin: 0;
				}

			.top_menu a {
				color: #fff;
				text-transform: uppercase;
				display: inline-block;
				position: relative;
				z-index: 80;
			}
			.top_menu a:hover {
				color: #ffd21f;
			}
			
span#cartCntItems {
	font-size: 16px;
	color: #fff;
}
/*-----------------ItemShop--------------*/
.shopItem{
	text-align: center;
	margin-top: 15px;
}

.shopItem img{
	clear: both;
}
.small{
	width: 150px;
	height: 150px;
	margin-top: 100px;
} 
.meddium {
	width: 150px;
	height: 200px;
	margin-top: 50px;
}
.large{
	width: 150px;
	height: 250px;
}
.big{
	width: 200px;
	height: 250px;
}

.arrow_wrapper{
	width: 100%;
}
.shopItem i{
	font-size: 32px;
	color: #203E5A;
	display: inline-block;
	position: relative;
	z-index: 120;
	margin-left: 5px;
}	
.shopItem i:hover{
	color: #D13931;
}
i.fa.fa-angle-up{
	font-size: 26px;
    display: none;
    cursor: pointer;
}
i.fa.fa-angle-down{
	font-size: 26px;
    cursor: pointer;
}
.shopItem p{
	margin-top: 0;
}

.shopItem h2{
	margin: 5px 0;
	font-size: 16px;
	display: inline-block;
	letter-spacing: -0.3px;
}
.description{
	display: none;
	margin: 10px 0;
}
.shopItem span{
	padding-right: 20px;	
	display: inline-block;
}
.shopItem button {
	border-radius: 5px;
}
.shopItem button > a {
	color: #000;
}
.shopItem button:hover {
 background: #fff;
} 
.shopItem table{
	text-align: left;
	background: #DDDDDD;
	border-radius: 20px;
	-webkit-box-shadow: 1px 1px 1px 1px #8F8F8F;
	box-shadow: 1px 1px 1px 1px #8F8F8F;
}

.shopItem table td{
	min-height: 100px;
	vertical-align: top;
	padding: 10px;
}
.messagecart{
	border: 1px solid #000;
	padding: 3px;
	font: 12px sans-serif;
	display: none;
	position: absolute;
	background: #fff;
	z-index: 101;
}
a.addButton {
	display: inline-block;
	padding: 5px 10px;
	background: #ddd;
	color: #000;
	border-radius: 5px;
	font-weight: 600;
	-webkit-box-shadow: 1px 1px 1px 1px #8F8F8F;
	box-shadow: 1px 1px 1px 1px #8F8F8F;
}
a.addButton:hover {
	background: #FFF;
	
}


/*------------------Cart------------------*/
.steps{
	margin: 50px 30px;
}
.steps a, .steps span {
	display: inline-block;
	color: #000;
	font-size: 13px;
	letter-spacing: 3px;
	font-family: "RobotoRegular";
	text-transform: uppercase;
	font-weight: 600;
	padding-left: 5px;
}
.steps a.active{
	color: #D13931;
	border-bottom: 2px dashed #D13931;
}
.goToShop{
	float: right;
	margin-right: 30px;
}
.goToShop a{
	display: inline-block;
	margin-right: 30px;
	background: #203E5A;
	color: #fff;
	padding: 5px 10px;
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: 600;
}
.goToShop a:hover{
		color: #ffd21f;
}

.productInCart {
	text-align: center;
}
h3{
	padding: 0;
	margin: 0;
}
.productInCart img {
	margin-top: 0;
}
.productInCart img.small{
	height: 90px;
	width: 90px;
	margin-left: 50px;
}
.productInCart img.meddium {
	height: 105px;
	width: auto;
	margin-left: 50px;
}
.productInCart img.large{
	height: 150px;
	width: auto;
	margin-left: 50px;
}
.productInCart img.big {
	width: 140px;
	height: 140px;
	margin-left: 35px;
}

.productInCart h2{
	font-size: 18px;
	text-align: center;
}	
input[name="quontity"] {
	text-align: center;
}
.productInCart i {
    font-size: 24px;
}

.productInCart span, .productInCart a {
    margin-top: 50px;
    display: inline-block;
}
.productInCart p {
    text-align: left;
    font-weight: 700;
    font-size: 20px;
    margin-left: 55px;
}

.confirm_clear a {
	display: inline-block;
	/*background: #203E5A;*/
	background: #D13931;
	color: #fff;
	padding: 10px 15px;
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: 600;
}
.confirmLnk{
	float: right;
}
 a.confirmLnk{
	background: #203E5A;
	color: #fff;
}
 a:hover.confirmLnk{
	color: #ffd21f;
}
.continueLnk{
	float: left;
} 
a.continueLnk {
	background: #D13931;
	color: #fff;
}
 a:hover.continueLnk{
	color: #203E5A;
}
.cartDef{
	min-height: 230px;
}
.notAdded{
	text-align: center;
	font-size: 24px;
}
h4.notAdded{
	margin: 10px;
}
.notAdded a{
	color: #D13931;
}
.notAdded a:hover{
	color: #203E5A;
}

/*--------------------Delivery-------------*/
.delivery{
	margin-top: 50px;
}
/*-----------------PaymentMethod-------------*/
.paymentMethod{
	margin-top: 50px;
}
/*-----------------MainForm---------------*/
.mainForm {
	
}
	.mainForm input, .mainForm textarea {
		display: block;
		width: 400px;
		margin: 10px auto;
		padding-left: 10px;
		color: rgba(0,0,0,0.7);
		border-radius: 15px;
	}
	.mainForm h3 {
		text-align: center;
	}
	input[type="checkbox"] {
	display: inline-block;
		width: 15px;
		height: 15px;
}
	input[type="submit"] {
	text-transform: uppercase;
	font-weight: 700;
}
	input[type="submit"]:hover{
	background: #203E5A;
	color: #fff;
	}
/*---------------Agreement------------------*/
#agreem{
	margin-top: 50px;
	border: 2px solid #D13931;
	padding: 10px;
	display: none;
	border-radius: 20px;
}
.agreement p {
	font-size: 13px;
	text-align: justify;
	margin: 5px 0;
}
.agreementLink {
	margin-bottom: 30px;
}
.agreementLink p {
	color: #000;
	text-align: center;
	cursor: pointer;
}


/*------------------Attantion---------------*/
.info{
	margin-top: 50px;
}
	
	.info ul{
	font-size: 14px;
}
/*-------------------FOOTER----------------*/
footer{
	min-height: 160px;
	background: #c6c6c6;
	padding: 25px 0 40px 0;
	margin: 0 auto;
	}
	.footer_section{
		display: inline-block;
		width: 20%;
		text-align: center;
		float: left;
		font-size: 12.5px;
		}
		.footer_section>img {
			padding-bottom: 15px;
			}
		.footer_section h4{
			margin: 0;
			font-family: "RobotoBold";
			text-transform: uppercase;
		}
		.footer_section a{
			text-decoration: none;
			color: #000;
			text-transform: uppercase;
			font-family: "RobotoBold";
		}

		footer p {
			font-family: "RobotoBold";
			font-size: 12px;
			
			margin: 0;
		}

		.social {
			display: inline-block;
			
		}
			.social a {
				margin-left: 25px;
			}
			.social a img:hover {
				width: 41px;
				height: 42px;
				background: #fff;
				border-radius: 2px;
			}

		p.soc {
			margin: 25px 0 10px 0;
			text-transform: uppercase;
		}
telephone, .email {
	display: block;
	text-align: center;
	font-family: "RobotoBold";
	font-size: 12.5px;
}

.pb {
	margin: 10px;
}

.btn {
	display: inline-block;
	background: #203E5A;
	color: #fff;
	padding: 5px 10px;
	border-radius: 5px;
}

.btn:hover {
	color: #ffd21f;
}

.pay_wraper {
	font-family: "RobotoBold";
	width: 370px;
	margin: 30px auto;
}

.order ul {
	margin: 5px 0;
	padding: 0;
}
.order li {
	display: block;
	list-style: none;
}

span.orderId {
	border-bottom: 2px solid #D13931;
}

label[for="paymentMethod1"] i {
	font-size: 30px;
}
.pb {
	margin-top: 50px;
	color: rgba(0,0,0,0.6);
	
}
.pb h1 {
	font-size: 14px;
	text-align: left;
	display: inline;
}

.pb h2 {
	text-align: center;
	font-size: 20px;
	color: #fff;
}

.pb p.more{
	font-size: 16px;
	display: inline-block;
	border-bottom: 1px dashed #203E5A;
	color: #203E5A;
	cursor: pointer;
}
.pb p {
	margin: 5px;
}
.pb .details {
	display: none;
}
footer iframe{
	width: 640px;
	height: 320px;
}